@model AppUserVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ecommerce</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ecommerce" name="keywords">
    <meta content="ecommerce" name="description">



    <!--Tailwind css-->

    <script src="https://cdn.tailwindcss.com"></script>
    <script>

        tailwind.config = {
            theme: {

                extend: {

                    colors: {

                        myorange: '#06b6d4',
                        myblue: {
                            100: '#0f172a',
                            200: '#1e3a8a',
                            300: '#9CC4E4',
                            400: '#343838',
                            500: '#00DFFC',
                            600: '#005F6B'

                        },

                        mywhite: '#E9F2F9',

                        myred: '#99173C',

                        mygrey: {

                            100: '#0f172a',
                            200: '#1e293b',
                        },

                        myyellow: {

                            100: '#06b6d4',
                            200: '#22d3ee',
                        }


                    },

                    fontFamily: {

                        inter: ['Inter', 'sans-serif']


                    },

                    fontSize: {

                        xs: '0.8125rem'


                    },

                    spacing: {

                        '100': '36rem'
                    }


                }

            }


        }



    </script>









</head>

<body>
    <!-- Topbar Start -->

    <header>


        <div class="bg-myblue-100 flex pl-4   mx-auto  text-teal-600 font-mono text-xl">

            <label>My E-Commerce</label>
            <label class="ml-2">Role</label>
            <label class="ml-2">@Model.AppUser.Role</label>


        </div>

        <div>
            <div class="flex flex-row mt-2">

                <label class="ml-2">Name</label>
                <label class="ml-2">Description</label>
                <label class="ml-2">Price</label>
                <label class="ml-2">Like</label>
            </div>
            @if (Model.AppUser.Role == UserRole.Customer)
            {

                foreach (Product item in Model.Products)
                {


                    <div class="flex flex-row mt-2">

                        <label type="text" class="ml-2">@item.Name</label>
                        <label type="text" class="ml-2">@item.Description</label>
                        <label type="text" class="ml-2">@item.Price</label>
                        <label type="text" class="ml-2">@item.Like</label>

                    </div>





                }
            }

            @if (Model.AppUser.Role == UserRole.Admin && Model.AppUser.Products != null)
            {
                foreach (Product item in Model.AppUser.Products)
                {
                    using (Html.BeginForm("MainPage", "Home", FormMethod.Post))
                    {
                        <div class="flex flex-row mt-2">

                            <input name="name" type="text" class="ml-2" value="@item.Name" />
                            <input name="description" type="text" class="ml-2" value="@item.Description" />
                            <input name="price" type="text" class="ml-2" value="@item.Price" />
                            <label type="text" class="ml-2">@item.Like</label>
                            <input name="id" type="hidden" value="@item.ID" />
                            <div class="">
                                <button class=" mt-16 bg-myblue-200 hover:bg-myorange text-mywhite font-bold  py-2 px-4 rounded focus:outline-none focus:shadow-outline" style="height:50px;width:200px">
                                    Update
                                </button>
                            </div>
                        </div>

                    }


                }
            }

            @if (Model.AppUser.Role == UserRole.SysAdmin)
            {
                foreach (Product item in Model.Products)
                {
                    using (Html.BeginForm("MainPage", "Home", FormMethod.Post))
                    {
                        <div class="flex flex-row mt-2">

                            <input name="name" type="text" class="ml-2" value="@item.Name" />
                            <input name="description" type="text" class="ml-2" value="@item.Description" />
                            <input name="price" type="text" class="ml-2" value="@item.Price" />
                            <label type="text" class="ml-2">@item.Like</label>
                            <input name="id" type="hidden" value="@item.ID" />
                            
                                <button  class=" mt-16 bg-myblue-200 hover:bg-myorange text-mywhite font-bold  py-2 px-4 rounded focus:outline-none focus:shadow-outline" style="height:50px;width:200px">
                                    Update
                                </button>
                            
                        </div>

                    }


                }

            }



        </div>
    </header>
</body>
</html>